body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

form {
  width: 500px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #444;
  color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 10px;
  background-color: #f0f0f0;
}

.table td {
  padding: 10px;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.redes-sociales {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.redes-sociales li {
  margin-left: 1rem;
}

.redes-sociales li a {
  color: #fffafa;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Estilos para las redes sociales en el footer */

.redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.redes-sociales li {
  margin: 0 3rem;
}

.redes-sociales a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  color:#ffffff;
  font-size: 100;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.redes-sociales a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .logo {
    font-size: 2rem;
  }

  nav {
    flex-direction: column;
  }

  nav li {
    margin: 1rem 0;
  }

  form {
    max-width: 100%;
  }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
  form {
    max-width: 700px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  form {
    max-width: 800px;
  }
}

/*
